.canvas-container {
    display: flex;
    justify-content: center;
    color: aliceblue;

}

.how-to {
    width: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
    height: 40px;

}

.how-to:hover {
    position: relative;
}
.instructions {
    position: absolute;
    font-size: 10px;
    width: 300px;
    display: none;
}

.how-to:hover .instructions {
    display: block;
}

body {
     background-image:url('../images/blessed-rain.gif'); 
     font-family: 'Press Start 2P', cursive; 
    }

.title {
     display: flex;
     justify-content: center;
     color: aliceblue;
}
.info {
    display: flex;
    justify-content: center;
    color: aliceblue;
}

